extends template

block CSS
	link(rel="stylesheet" type="text/css" href="/css/main.css")
	link(rel="stylesheet" type="text/css" href="/css/index.css")
block content
	#home-content
		p Type in the answer to the first question below